langchain>=0.3.0
langchain-community>=0.3.0
langchain-core>=0.3.0
langchain-google-genai>=2.0.0
google-genai>=0.3.0
chromadb
pypdf
python-dotenv
tiktoken
# new addition for full-stack dev
fastapi
uvicorn
pydantic